apiVersion: v2
name: vault
version: 0.31.0-bb.5
appVersion: 1.20.4
kubeVersion: ">= 1.20.0-0"
description: Official HashiCorp Vault Chart
home: https://developer.hashicorp.com/vault
icon: https://github.com/hashicorp/vault/raw/f22d202cde2018f9455dec755118a9b84586e082/Vault_PrimaryLogo_Black.png
keywords:
  [
    "vault",
    "security",
    "encryption",
    "secrets",
    "management",
    "automation",
    "infrastructure",
  ]
sources:
  - https://github.com/hashicorp/vault
  - https://github.com/hashicorp/vault-helm
  - https://github.com/hashicorp/vault-k8s
  - https://github.com/hashicorp/vault-csi-provider
dependencies:
  - name: minio-instance
    version: 7.1.1-bb.3
    alias: minio
    condition: minio.enabled
    repository: oci://registry1.dso.mil/bigbang
  - name: gluon
    version: "0.9.5"
    repository: oci://registry1.dso.mil/bigbang
  - name: vault
    version: "0.31.0"
    repository: "https://helm.releases.hashicorp.com/"
    alias: upstream
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Vault: 1.20.4
  helm.sh/images: |
    - name: vault
      image: registry1.dso.mil/ironbank/hashicorp/vault:1.20.4
    - name: vault-k8s
      image: registry1.dso.mil/ironbank/hashicorp/vault/vault-k8s:v1.7.0
    - name: vault-csi-provider
      condition: upstream.csi.enabled
      image: registry1.dso.mil/ironbank/hashicorp/vault-csi-provider:v1.6.0
    - name: base
      condition: autoInit.enabled
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
