domain: dev.bigbang.mil
monitoring:
  enabled: false
  namespace: monitoring

routes:
  inbound:
    vault:
      enabled: true
      gateways:
        - istio-gateway/passthrough-ingressgateway
      hosts:
        - vault.{{ .Values.domain }}
      service: vault-vault.vault.svc.cluster.local
      port: 8200
      passthrough:
        enabled: true

istio:
  enabled: false

  sidecar:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"

  serviceEntries:
    custom: []

  authorizationPolicies:
    enabled: false
    custom: []

  # Default vault peer authentication
  mtls:
    # STRICT = Allow only mutual TLS traffic
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT

tls:
  cert: ""
  key: ""

networkPolicies:
  enabled: false
  ingress:
    definitions:
      custom-app-ingress:
        from:
          - namespaceSelector: {}
            podSelector:
              matchLabels:
                vault-ingress: "true"
    to:
      vault:8200:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: false
          definition:
            custom-app-ingress: true
      vault-agent-injector:8080:
        from:
          cidr:
            0.0.0.0/0: true # Required for control plane and any workloads using vault sidecar injection
  egress:
    definitions:
      kms:
        to:
          - ipBlock:
              cidr: "0.0.0.0/0"
        ports:
          - port: 443
            protocol: TCP
    from:
      vault:
        to:
          cidr:
            169.254.169.254/32: true # Access to metadata IP address is always required
          k8s:
            tempo/tempo:9411: false
          definition:
            kms: true
            kubeAPI: true
      vault-agent-injector:
        to:
          definition:
            kubeAPI: true
      vault-autoinit:
        podSelector:
          matchLabels:
            batch.kubernetes.io/job-name: vault-vault-job-init
        to:
          definition:
            kubeAPI: true
  additionalPolicies: []

# BigBang autoInit Job
# For development or demo purposes only
# Should not be used for operational environments
# The root token and unlock keys should not be discoverable from a k8s secret
autoInit:
  enabled: true
  image:
    repository: registry1.dso.mil/ironbank/big-bang/base
    tag: 2.1.0
  # Init Job PVC Storage Size
  storage:
    size: 2Gi

minio:
  enabled: false
  # disableSSL: false
  # endpoint: minio.minio.svc.cluster.local
  # accessKey: ""
  # secretKey: ""
  # bucketName: vault-data

# Label to determine what workloads (pods/deployments) should be allowed by the custom-app-ingress-selector
customAppIngressSelector:
  key: vault-ingress
  value: true


bbtests:
  enabled: false
  cypress:
    resources:
      requests:
        cpu: 2
        memory: "8Gi"
      limits:
        cpu: 2
        memory: "8Gi"
    artifacts: true
    envs:
      cypress_vault_url: "http://vault.vault.svc:8200"
    secretEnvs:
      - name: cypress_token
        valueFrom:
          secretKeyRef:
            name: vault-token
            key: key
    disableDefaultTests: false

  scripts:
    permissions:
      apiGroups:
        - ""
      resources:
        - configmaps
      verbs:
        - create
        - delete
        - list
        - get
    image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    envs:
      VAULT_PORT: '80'
      VAULT_HOST: 'http://vault'
    secretEnvs:
      - name: vault_token
        valueFrom:
          secretKeyRef:
            name: vault-token
            key: key

openshift: false 

# -- Values to pass to [the upstream vault chart](https://github.com/hashicorp/vault-helm/blob/main/values.yaml)
# @default -- Upstream chart values
upstream:
  fullnameOverride: "vault-vault"
  nameOverride: "vault"
  
  global:
    imagePullSecrets:
      - name: private-registry

  injector:
    enabled: "-"

    leaderElector:
      enabled: false

    # If true, will enable a node exporter metrics endpoint at /metrics.
    metrics:
      enabled: true

    image:
      repository: "registry1.dso.mil/ironbank/hashicorp/vault/vault-k8s"
      tag: "v1.7.2"

    agentImage:
      repository: "registry1.dso.mil/ironbank/hashicorp/vault"
      tag: "1.21.2"

    agentDefaults:
      memLimit: "250Mi"
      memRequest: "250Mi"

    securityContext:
      container:
        capabilities:
          drop:
            - ALL

    resources:
      requests:
        memory: 256Mi
        cpu: 250m
      limits:
        memory: 256Mi
        cpu: 250m

  server:
    enabled: true

    image:
      repository: "registry1.dso.mil/ironbank/hashicorp/vault"
      tag: "1.21.2"

    resources:
      requests:
        memory: 256Mi
        cpu: 250m
      limits:
        memory: 256Mi
        cpu: 250m

    auditStorage:
      enabled: true

    ha:
      apiAddr: "https://vault.dev.bigbang.mil"

    statefulSet:
      securityContext:
        container:
          capabilities:
            drop:
              - ALL

  ui:
    enabled: true

  csi:
    image:
      repository: "registry1.dso.mil/ironbank/hashicorp/vault-csi-provider"
      tag: "v1.7.0"

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 50m
        memory: 128Mi

    daemonSet:
      securityContext: 
        pod: 
          runAsNonRoot: true
          runAsGroup: 1000
          runAsUser: 100
          fsGroup: 1000  

    agent:
      image:
        repository: "registry1.dso.mil/ironbank/hashicorp/vault"
        tag: "1.21.2"

      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
          cpu: 250m
