{{- if and .Values.networkPolicies.enabled (or (contains "awskms" .Values.server.standalone.config) (contains "awskms" .Values.server.ha.config) )  }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: egress-metadata-vault
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "vault.name" . }}
  policyTypes:
  - Egress
  egress:
  - to:
    - ipBlock:
        cidr: 169.254.169.254/32
{{- end }}