#  Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*
.terraform-cache
# .tfstate files
*.tfstate
*.tfstate.*

# key files
*.pem

.idea/
# terraform locks
.terraform.lock.hcl

.DS_STORE
.terraform.lock.hcl
